body{
	background-color: black;
	padding: 20px 30px;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: roboto;
	color: white;
}

a{
	color: orange;
}
	a:hover{
		color: white;
	}

.button{
	padding: 8px;
	background-color: black;
	border: 1px solid grey;
}

#title{
	margin-bottom: 20px;
}
